ion-toolbar {
  // --background: linear-gradient(90deg, rgb(12, 205, 163) 0%, rgb(193, 252, 211) 100%);
  --background: #114160;
  --color: #fff;
}
ion-title {
  text-align: center;
  font-weight: bold;
}
